.logotipo{
    width: 67px;
    margin-top: -6px;
    margin-left: 20px;
    margin-right: 10px;
}

.foto{
	width: 250px;
	height: 250px;
	/*border-radius: 50%;*/
	border: 6px solid #0084cb;
}

.logo{
	width: 210px;
	height: 210px;
	/*border-radius: 50%;*/
	border: 3px solid #28657e;
}

.conte{
    overflow-x: auto;
}

.aler{
	display: none;
}